{% load static %}
<a name="top"></a>
<div class="mt-3" style="background-color: black; width:100% ;min-height:100px;max-height:1000px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-3">
            <h3 class="text-white">Contact Information</h3>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-map-marker text-danger"></i>   Analyze Infotech, Lucknow</p>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-envelope text-danger"></i>   admin@analyzeingotech.in</p>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-mobile text-danger"></i>   P:  9839434821 /9453193268</p>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-globe text-danger"></i>   W:  www.analyzeingotexh.in</p>
        </div>

        <div class="col-md-6 mt-3">
        <h3 class="text-white">About But Fixing</h3>
        <p style="color:yellow; font-size:18px"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolores error ipsum iusto. A ad adipisci animi aspernatur eos exercitationem explicabo fuga hic incidunt ipsa magni minima, molestiae mollitia, nostrum nulla, numquam officia quia quis quisquam reiciendis saepe tempore totam. Aperiam, commodi eius illo itaque iure magnam maxime nam, nemo nihil non odit pariatur quisquam ratione rerum sit tempore voluptas? Ab aperiam beatae commodi dolor dolore, doloremque doloribus eligendi, exercitationem expedita impedit ipsum nihil, nobis ratione sit vel. Accusantium, molestiae.</p>
    </div>

    <div class="col-md-3 mt-3">
        <h3 class="text-white">Current News</h3>
        <marquee scrollamount="3" behavior="" direction="up">
        <p style="color:yellow; font-size:18px">Without mask no entry for enquiry. Due to COVID19 be safe.</p>

        </marquee>
        <a href="#top" class="btn btn-dark" style="text-align:right;position:absolute;left:200px;top:200px;">Go To Top</a>
    </div>
    </div>
</div>
</div>

