{% include 'navigation.html' %}

<div class="container-fluid" style="border:2px solid blue; min-height:400px;max-height:1000px;;background:#E0FFFF;">
<div class="container" style="border:0px solid blue; min-height:400px;max-height:1000px;;background:#E0FFFF;">
    <div class="row" style="margin-top:40px;">
        <div class="col-12" style="background:#E0FFFF;">
            <label style="font-size:25px;font-weight:bold;">Python Questions :</label>
            <div class="container row">
                <div class="col-12">
                    {% for i in data %}
                    {% ifequal i.topic "Python"%}
                    <label >Question:</label>
                    {{i.que}}<br>
                    {% endifequal %}
                    {% endfor %}
                    <a href="{% url 'add_ans_user' %}">Add Answer</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-top:40px;">
        <div class="col-12" style="background:#E0FFFF;">
            <label style="font-size:25px;font-weight:bold;">Html Questions :</label>
            <div class="container row">
                <div class="col-12">
                    {% for i in data %}
                    {% ifequal i.topic "Html" %}
                    <label >Question:</label>
                    {{i.que}}<br>
                    {% endifequal %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-top:40px;">
        <div class="col-12" style="background:#E0FFFF;">
            <label style="font-size:25px;font-weight:bold;">Dot Net Questions :</label>
            <div class="container row">
                <div class="col-12">
                    {% for i in data %}
                    {% ifequal i.topic "DotNet" %}
                    <label >Question:</label>
                    {{i.que}}<br>
                    {% endifequal %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-top:40px;">
        <div class="col-12" style="background:#E0FFFF;">
            <label style="font-size:25px;font-weight:bold;">Java Questions :</label>
            <div class="container row">
                <div class="col-12">
                    {% for i in data %}
                    {% ifequal i.topic "Java" %}
                    <label >Question:</label>
                    {{i.que}}<br>
                    {% endifequal %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
